<header>
    <div class="logo">
      {{#link-to 'index'}}<span class="left">stock</span><span class="right">Digger</span>{{/link-to}}
    </div>
    <div class="nav">
      {{#if session.isAuthenticated}}
        <i class="icon-user-i"></i>{{#link-to 'profile'}}{{currentUser.user.name}}{{/link-to}}
        <i class="icon-exit"></i><a href="#" {{action 'invalidateSession'}}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
        {{#link-to 'signup'}}Sign Up{{/link-to}}
      {{/if}}
    </div>
</header>
<main>
  {{outlet}}
</main>
<footer>
  <div class="copright">&copy; 2017 <a href="mailto:windstarter@gmail.com">Alexei Panov</a></div>
  <div class="contact"><a href="https://www.upwork.com/o/profiles/users/_~01227868186b6f57a5/">Hire me!</a></div>
  <div></div>
  <div></div>
</footer>
{{google-analytics}}